<!doctype html>
<html lang="en">
  <head>
  	<!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <link rel="stylesheet" href="/api/css/materialize.min.css">
	    <link rel="stylesheet" type="text/css" href="/api/css/home.css">
    	<title>bufferAnalizer</title>
 </head>
  <body>

	<div class="container">
		<input id="message" type="text" value="Hello, world!">
		<button type="button" class="btn btn-primary" onclick="send();">Iniciar Captura</button>

    <!-- elemento donde se colocan los packets -->
		<div class="row" id="packets">
		</div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p id="contenido">Texto </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>


	</div>

  <script src="/api/js/jquery-3.3.1.min.js"></script>
  <script src="/api/js/materialize.min.js"></script>
<script type="text/javascript">
	var sock = null;
	var wsuri = 'ws://' + window.location.host + '/api/ws';

	window.onload = function() {

				console.log("onload");

				sock = new WebSocket(wsuri);

				sock.onopen = function() {
					console.log("connected to " + wsuri);
				}

				sock.onclose = function(e) {
					console.log("connection closed (" + e.code + ")");
				}

				sock.onmessage = function(e) {
          var d = JSON.parse(e.data)
          cuadro(d.Id, d.Capas);
				}

			};


	function send() {
		var msg = document.getElementById('message').value;
		sock.send(msg);
	};

	function cuadro(id, texto) {
    var p = $('#packets');
    p.append(
      $('<a>', {
        'text': texto,
        'class': "waves-effect waves-light btn mAbrir",
        'data-id': id,
      })
    );

	};


</script>

<script type="text/javascript">
$(document).ready(function(){
  $('.modal').modal();

  //se ejecuta cuando se de click en el elemento
  $(document).on('click', '.mAbrir', function () {
    var elemento = $(this).data("id");  //id del packet
    //Traemos el datos del servidor
    $.ajax({
      type: 'GET',
      url: '/api/packet/' + elemento,
      success: function(response) {
        $('#contenido').text(response)
      }
    });
    $('#modal1').modal('open');
  });

});
</script>
  </body>
</html>
