<!doctype html>
<html lang="en">
  <head>
  	<!-- Required meta tags -->
      	<meta charset="utf-8">
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      	<!-- CSS -->
	<link rel="stylesheet" href="/api/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/api/css/home.css">
	<link rel="stylesheet" type="text/css" href="/api/css/style.css">
	<title>bufferAnalizer</title>
 </head>
  <body>
	
	<!-- Barra de navegacion -->
	<nav class="white" role="navigation">
		<div class="nav-wrapper container">
			<a href="#" class="brand-logo center">Scan-Net</a>					
		</div>
	</nav>
	
	<div class="container">
		<br><br>
		<button type="button" class="btn btn-primary" onclick="send();">Iniciar Captura</button>

    		<!-- elemento donde se colocan los packets -->
		<div class="row" id="packets">
		
		</div>

    		<!-- Modal Structure -->
    			<div id="modal1" class="modal">
      				<div class="modal-content">
                        <h4>Modal Header</h4>
       	 				<p id="contenido">Texto </p>
     				</div>
      				<div class="modal-footer">
        					<a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      				</div>
    			</div>
	</div>

  <script src="/api/js/jquery-3.3.1.min.js"></script>
  <script src="/api/js/materialize.min.js"></script>
  <script src="/api/js/init.js"></script>
<script type="text/javascript">
	var sock = null;
	var wsuri = 'ws://' + window.location.host + '/api/ws';

	window.onload = function() {

				console.log("onload");

				sock = new WebSocket(wsuri);

				sock.onopen = function() {
					console.log("connected to " + wsuri);
				}

				sock.onclose = function(e) {
					console.log("connection closed (" + e.code + ")");
				}

				sock.onmessage = function(e) {
         			 	var d = JSON.parse(e.data)
          				cuadro(d.Id, d.Capas);
          				console.log(d.Id);
				}

			};


	function send() {
		var msg = "Iniciar Cactura";
		sock.send(msg);
	};

	function cuadro(id, texto) {
		var p = $('#packets');
		
		var col = $('<div>', {
					'class': "col s6 l3"
				});
		var card = $('<div>', {
					'class': "card-panel hoverable mAbrir",
					'data-id': id
				});
		var cont = $('<span>', {
					'class': "truncate blue-text text-darken-2",
					'text': texto,
				});
		
		col.append(card.append(cont))
		p.append(col)
   	
	};


</script>

<script type="text/javascript">
$(document).ready(function(){
  	
  	$('.modal').modal();

	//se ejecuta cuando se de click en el elemento
  	$(document).on('click', '.mAbrir', function () {
  	
    		var elemento = $(this).data("id");  //id del packet
    		//Traemos el datos del servidor
    		$.ajax({
     			type: 'GET',
      			url: '/api/packet/' + elemento,
      			success: function(response) {
                    $('#contenido').text("");   //Clear

                    $('#contenido').append(response)
      			}
    	});
    	$('#modal1').modal('open');
  });

});
</script>
  </body>
</html>
