<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css"  href="/api/css">

    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	-->

    <title>bufferAnalizer</title>
  </head>
  <body>
	<h1>WebSocket bufferAnalizer</h1>
	<form>
	<p>
		Mensaje: <input id="message" type="text" value="Hello, world!">
	</p>
	</form>
	<button type="button" class="btn btn-primary" onclick="send();">Iniciar Captura</button>
	<button type="button" class="btn btn-primary" onclick="stop();">Stop</button>
	
	<div id="packet">

	</div>


<script type="text/javascript">
	var sock = null;
	var wsuri = "ws://127.0.0.1:8000/api/packet";

window.onload = function() {

			console.log("onload");

			sock = new WebSocket(wsuri);

			sock.onopen = function() {
				console.log("connected to " + wsuri);
			}

			sock.onclose = function(e) {
				console.log("connection closed (" + e.code + ")");
			}

			sock.onmessage = function(e) {
				console.log("message received: " + e.data);

				var container = document.getElementById('packet');
				var div = document.createElement('div');
				div.textContent = e.data;
				container.appendChild(div);
			}
		};


function send() {
	var msg = document.getElementById('message').value;
	sock.send(msg);
};

function Stop() {
	sock.send("stop");
}

</script>
  </body>
</html>
